<div class=" contenedor">
<div class="esqueleto1">
    <div class="head">
       <img class="Logo" src="/assets/Logo1.png">
    </div>
    
    <div class="esqueleto2">
      <form>
       <div class="Search">
    <div class="Usuario">
        <input name= "name" class ="Correo" type="text" placeholder="Usuario" id="Usuario">
    </div>
    
    <div class="Usuario">
    <input name=" password"class ="Correo" type="password" placeholder="Contraseña" maxlength="8" id="Usuario">
    </div>
    
    <div>
       <div class="Usuario">
    <a routerLink="/newpassword"><u>¿Olvidaste tu contraseña?</u></a>
    </div>
    </div>
    
    <div class="boton">
       <button  type="submit" class="Continuar"> Continuar </button>
    </div>
    </div>
    </form>
     <div class="Usuario">
         <a routerLink="/register"><u>¿Aún no tienes una cuenta?</u></a>
     </div>
    </div>
  </div> 
</div>
    