<div class="esqueleto2">
    <div class="Search">
         <div class="nuevousuario">
    <div class="texto1">
          <h1> Usuario nuevo</h1>
    </div>
    <div>
         <input class ="Correo" type="text" placeholder="nombre" id="Usuario">
    </div>

   <div class="contenedor">

      <div>
          <h1> Contraseña nueva</h1>
        </div>
       <div>
          <input class="Correo" type="password" placeholder="Nueva contraseña">
       </div>

        <div>
          <h1> Confirmar contraseña</h1>
        </div>

         <div>
         <input class ="Correo" type="password" placeholder=" Repite la contraseña" maxlength="9" id="Usuario">
          </div>
         </div>


       <div class="boton">
         <button class="Continuar"> Continuar </button>
      </div>
    </div>
</div>