<div class="esqueleto2">
 <div class="Usuario">
    <div>
     <input class ="Correo" type="text" placeholder="Nombre" id="Usuario">
     <input class ="Correo" type="text" placeholder="Apellido" id="Usuario">
     </div>

   </div>
      <div class="Contraseña">
      <div>
      <input class ="Correo" type="text" placeholder="Username" id="Usuario">
      </div>
      <div>
      <input class ="Correo" type="text" placeholder="Email" id="Usuario">
      </div>
      <div>
      <input class ="Correo" type="password" placeholder="Contraseña" maxlength="8" id="Usuario">
      </div>
      <div>
      <input class ="Correo" type="text" placeholder="Confirma contraseña" id="Usuario">
      </div>
   </div>
 

 
 <div class="boton">
 <button class="Continuar"> Continuar </button>
 </div>
 

</div>